/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

.quote-submission-wrapper .submit-success.message {
  display: inline-block;
}

/* Buttons */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

	background-color: $color__background-body;
	border: 2px solid $color__brand_green;
	border-radius: 3px;
	color: $color__brand_green;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1;
	padding: .75rem 2.25rem;

	&:hover {
		border:2px solid darken($color__brand_green, 10%);
		color: darken($color__brand_green, 10%);
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	background-color: $color__background-body;
    color: $color__text-main;
    border: 2px solid $color__brand_green;
	border-radius: 3px;

	&:focus {
		color: $color__text-main;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

/* New Quote Button */

#new-quote-button {
  display: block;

  @include desktop {
    margin: 0 auto;
  }
}

/* Search Form */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.search-form label {
  float: left;
  min-width: 200px;
}

.search-form input[type="search"] {
  width: 240px;
}

.search-submit {
  border: 0;
  float: left;
  padding-left: $base__space-unit;
  padding-right: $base__space-unit;

  &:hover {
    border: none;
    color: darken($color__brand_green, 10%);
  }
}

